@import url(./general.css);

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 70px;
  background-color: var(--pale-blue);
  /* border-bottom: 1px solid black; */
  padding: 0 25px;
  z-index: 100;
  box-shadow: 1px 1px 5px hsl(0, 0%, 0%, 0.2);
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  /* background-color: blue; */
}

@media (max-width: 750px) {
  .left-side a {
    font-size: 30px;
    color: black;
  }
}

@media (min-width: 751px) {
  .left-side a {
    font-size: 35px;
    color: black;
  }
}

.middle {
  display: flex;
  flex: 1;
  align-items: center;
  /* background-color: blueviolet; */
  margin-left: 15px;
  margin-right: 30px;
  max-width: 600px;
}

.middle .search-input {
  height: 35px;
  flex: 1;
  width: 0;
  border: 1px solid hsl(0, 0%, 65%);
  border-radius: 20px;
  padding-left: 10px;

  font-size: 16px;
}

.middle .search-input::placeholder {
  font-size: 16px;
  font-family: Roboto, Arial;
}

.middle img {
  width: 30px;
  height: 30px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 65%);
  padding: 3.5px 3px;
  margin-left: -1px;
}

.right-side {
  display: flex;
  align-items: center;
  /* background-color: brown; */
  flex-shrink: 0;
}

.right-side img {
  width: 35px;
  border-radius: 25px;
}

@media (max-width: 750px) {
  .right-side div {
    display: none;
  }
}

@media (min-width: 751px) {
  .right-side div {
    margin-left: 10px;
  }
}