.create {
  position: fixed;
  bottom: 30px;
  right: 30px;
  
  background-color: rebeccapurple;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px hsl(0, 0%, 0%, 0.75);
  border: none;
  cursor: pointer;
}

.create:active {
  padding: 13px;
  bottom: 27px;
  right: 27px;
}

.create:hover {
  background-color: rgb(48, 19, 77);
}

.create img {
  width: 35px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-grid {
  display: grid;
  /* grid-template-columns: 300px 300px 300px 300px; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(  4, minmax(300px, 1fr));
  gap: 10px;
}

.sample-box {
  /* width: 100px; */
  height: 300px;
  background-color: rebeccapurple;
  border-radius: 15px;
}