@import url(./general.css);

.create {
  position: fixed;
  bottom: 30px;
  right: 30px;
  
  background-color: var(--pale-blue);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px hsl(0, 0%, 0%, 0.75);
  border: none;
  cursor: pointer;
  z-index: 97
}

.create:active {
  padding: 13px;
  bottom: 27px;
  right: 27px;
}

.create:hover {
  background-color: #b9c1c4;
}

.create img {
  width: 35px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* This is the normal grid style*/
/* .notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
} */

/* This is the mansory style*/
.notes-grid {
  /* display: grid;
  grid-template-columns: repeat(  4, minmax(300px, 1fr));
  gap: 20px; */
  /* align-items: start; important: cards shrink to content height */
  column-count: 4;       /* number of columns */
  gap: 20px;      /* spacing between columns */
  max-width: 100%;          /* prevent overflow */
  /* margin: 0 auto;           center the grid */
  padding: 0 20px;          /* add breathing room on sides */
}

/* This is the normal grid style*/
/* .sample-box {
  background-color: rebeccapurple;
  border-radius: 15px;
  padding: 20px;
} */

/* This is the mansory style*/
.sample-box {
  display: inline-block;
  margin-bottom: 10px;
  width: 325px;              /* fit inside column */
  box-sizing: border-box;   /* include padding in width calculation */
  background-color: rebeccapurple;
  border-radius: 15px;
  padding:20px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
  position: relative;
}

.delete-note {
  opacity: 0;
  position: absolute;
  right: 5px;
  bottom: 5px;

  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out
}

.delete-note img {
  width: 15px;
}

.delete-note:hover {
  background-color: hsla(0, 0%, 0%, 0.2);
}

.sample-box:hover .delete-note {
  opacity: 1;
}

.sample-box:hover {
  border-color: black;
}

.sample-box .title {
  font-size: 30px;
  white-space: nowrap;       /* force single line */
  overflow: hidden;          /* hide overflow */
  text-overflow: ellipsis;   /* show ... */
  color: black;
  cursor: default;
}

.sample-box .note {
  font-size: 18px;
  color: black;
  line-height: 20px;
  margin-top: 10px;
  display: -webkit-box;        /* create a flex-like box */
  -webkit-line-clamp: 10;       /* number of lines to show */
  line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: default;
}

.js-no-note {
  font-size: 30px;
  text-wrap: nowrap;
  color: gray;
}